.registrations-form {
  display: flex;
  justify-content: center;
}

.form-area {
  width: 80%;
}

.main-area {
  width: 100%;
  border: 5px solid #FFF;
  box-shadow: -5px -5px 20px #c4d82d,
                4px 4px 4px #c4d82d inset,
                5px 5px 20px #ffe200,
                -4px -4px 4px #ffe200 inset;
  padding: 20px;
}

.input-area {
  margin-bottom: 20px;
}

.form-control {
  display: block;
  margin-top: 5px;
  padding: 5px;
  box-shadow: 5px 5px 10px #c4d82d;
  width:95%;
}

.form-label {
  color: #FFF;
  text-shadow: 4px 4px 5px #c3d82d;
}

.btn-primary {
  padding: 10px;
  background-color: #c4d82d;
  color: #FFF;
  box-shadow: 5px 5px 10px #FFF
}

.form-message {
  text-shadow: 4px 4px 5px #c3d82d;
  color: #FFF;
  margin: 20px 0;
}

.question-area {
  width: 100%;
  border: 5px solid #FFF;
  box-shadow: -5px -5px 20px #c4d82d,
                4px 4px 4px #c4d82d inset,
                5px 5px 20px #ffe200,
                -4px -4px 4px #ffe200 inset;
  padding: 20px;
  margin-bottom: 20px;
}