@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=M+PLUS+Rounded+1c:wght@500&family=Monomaniac+One&family=Rampart+One&display=swap');

/* ヘッダー部分 */
.header {
  background-color: #302f2f;
  height: 80px;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0; 
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-left {
  text-shadow: 4px 4px 10px #c3d82d;
  font-family: 'Rampart One', sans-serif;
}

.header-left h2 {
  color: #FFF;
}

.user-area {
  display: flex;
}

.link {
  text-decoration: none;
  text-shadow: 6px 6px 10px #ffe200;
  color: #FFF;
  font-size: 13px;
  margin-left: 20px;
}

.user-name {
  text-shadow: 6px 6px 10px #ffe200;
  color: #FFF;
  font-size: 13px;
  margin-top: 3px;
}


/* フッター部分 */
.footer {
  background-color: #302f2f;
  height: 80px;
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0; 
}

.icons {
  height: 32px;
}