@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=M+PLUS+Rounded+1c:wght@500&family=Monomaniac+One&family=Rampart+One&display=swap');

.header {
  background-color: brown;
  height: 80px;
  width: 100%;
  padding: 20px;
  display: fixed;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.user-area {
  display: flex;
}

.link {
  text-decoration: none;
  color: black;
}